# Django
Django
djangorestframework
psycopg2-binary
python-dotenv
django-cors-headers
Pillow
requests
djangorestframework-simplejwt

# FastAPI
fastapi
uvicorn
pika
aio-pika
pydantic
pydantic-settings
httpx

# AI + Vector
google-genai 
qdrant-client